@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="search-popup">
    <div class="search-popup-container">

        <form role="search" method="get" class="search-form" asp-controller="Books" asp-action="Index">
            <input type="search" id="search-form" class="search-field" placeholder="Type and press enter" value=""
                   name="keywords" />
            <button type="submit" class="search-submit">
                <svg class="search">
                    <use xlink:href="#search"></use>
                </svg>
            </button>
        </form>

    </div>

</div>