@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* <form asp-action="login" asp-controller="Users">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="tabs-listing">
                    <nav>
                        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
                            <button class="nav-link text-capitalize active" id="nav-sign-in-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-sign-in" type="button" role="tab" aria-controls="nav-sign-in"
                                    aria-selected="true">
                                Sign In
                            </button>
                            <button class="nav-link text-capitalize" id="nav-register-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-register" type="button" role="tab" aria-controls="nav-register"
                                    aria-selected="false">
                                Register
                            </button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade active show" id="nav-sign-in" role="tabpanel"
                             aria-labelledby="nav-sign-in-tab">
                            @if (ViewData["ErrorMessage"] != null)
                            {
                                <div style="color:red; margin-top:10px;">@ViewData["ErrorMessage"]</div>
                            }
                            <div class="form-group py-3">
                                <label class="mb-2" for="sign-in">Username or email address *</label>
                                <input type="text" minlength="2" name="username" placeholder="Your Username"
                                       class="form-control w-100 rounded-3 p-3" required>
                            </div>
                            <div class="form-group pb-3">
                                <label class="mb-2" for="sign-in">Password *</label>
                                <input type="password" minlength="2" name="password" placeholder="Your Password"
                                       class="form-control w-100 rounded-3 p-3" required>
                            </div>
                            <label class="py-3">
                                <input type="checkbox" required="" class="d-inline">
                                <span class="label-body">Remember me</span>
                                <span class="label-body"><a href="#" class="fw-bold">Forgot Password</a></span>
                            </label>
                            <button type="submit" name="submit" class="btn btn-dark w-100 my-3">Login</button>
                        </div>
                        <div class="tab-pane fade" id="nav-register" role="tabpanel"
                             aria-labelledby="nav-register-tab">
                            <div class="form-group py-3">
                                <label class="mb-2" for="register">Your email address *</label>
                                <input type="text" minlength="2" name="username" placeholder="Your Email Address"
                                       class="form-control w-100 rounded-3 p-3" required>
                            </div>
                            <div class="form-group pb-3">
                                <label class="mb-2" for="sign-in">Password *</label>
                                <input type="password" minlength="2" name="password" placeholder="Your Password"
                                       class="form-control w-100 rounded-3 p-3" required>
                            </div>
                            <label class="py-3">
                                <input type="checkbox" required="" class="d-inline">
                                <span class="label-body">
                                    I agree to the <a href="#" class="fw-bold">
                                        Privacy
                                        Policy
                                    </a>
                                </span>
                            </label>
                            <button type="submit" name="submit" class="btn btn-dark w-100 my-3">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form> *@

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="tabs-listing">
                    <nav>
                        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
                            <button class="nav-link text-capitalize active" id="nav-sign-in-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-sign-in" type="button" role="tab" aria-controls="nav-sign-in"
                                    aria-selected="true">
                                Sign In
                            </button>
                            <button class="nav-link text-capitalize" id="nav-register-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-register" type="button" role="tab" aria-controls="nav-register"
                                    aria-selected="false">
                                Register
                            </button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-sign-in" role="tabpanel"
                             aria-labelledby="nav-sign-in-tab">
                            <form asp-action="Login" asp-controller="Users" method="post">
                                @if (ViewData["ErrorMessage"] != null)
                                {
                                    <div class="alert alert-danger mt-3">@ViewData["ErrorMessage"]</div>
                                }
                                <div class="form-group py-3">
                                    <label class="mb-2" for="sign-in">Username *</label>
                                    <input type="text" minlength="2" name="username" placeholder="Your Username"
                                           class="form-control w-100 rounded-3 p-3" required>
                                </div>

                                <div class="form-group pb-3">
                                    <label class="mb-2" for="sign-in">Password *</label>
                                    <input type="password" minlength="2" name="password" placeholder="Your Password"
                                           class="form-control w-100 rounded-3 p-3" required>
                                </div>
                                <label class="py-3">
                                    <input type="checkbox" class="d-inline">
                                    <span class="label-body">Remember me</span>
                                    <span class="label-body"><a href="#" class="fw-bold">Forgot Password</a></span>
                                </label>
                                <button type="submit" class="btn btn-dark w-100 my-3">Login</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="nav-register" role="tabpanel"
                             aria-labelledby="nav-register-tab">
                            <form asp-action="Create" asp-controller="Users" method="post">
                                <div class="form-group py-3">
                                    <label class="mb-2" for="register-username">Username *</label>
                                    <input type="text" minlength="2" name="Username" placeholder="Choose a username"
                                           class="form-control w-100 rounded-3 p-3" required>
                                </div>
                                <div class="form-group py-3">
                                    <label class="mb-2" for="register-email">Your email address *</label>
                                    <input type="email" name="Email" placeholder="Your Email Address"
                                           class="form-control w-100 rounded-3 p-3" required>
                                </div>
                                <div class="form-group pb-3">
                                    <label class="mb-2" for="register-password">Password *</label>
                                    <input type="password" minlength="2" name="Password" placeholder="Choose a password"
                                           class="form-control w-100 rounded-3 p-3" required>
                                </div>
                                <label class="py-3">
                                    <input type="checkbox" required class="d-inline">
                                    <span class="label-body">
                                        I agree to the <a href="#" class="fw-bold">
                                            Privacy
                                            Policy
                                        </a>
                                    </span>
                                </label>
                                <button type="submit" class="btn btn-dark w-100 my-3">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>